<p id="notice"><%= notice %></p>

<p>
  <strong>Race description:</strong>
  <%= @race_description.race_description %>
</p>

<%= link_to 'Edit', edit_race_description_path(@race_description) %> |
<%= link_to 'Back', race_descriptions_path %>
