<text>
  <% unless entity.biography.blank? %>
    <body>
        <%= raw(format_biography(entity.biography)) %>
    </body>
  <% end %>
  <% unless entity.bibliography.blank? %>
    <back>
        <ab><bibl><%= raw(format_bibliography(entity.bibliography)) %></bibl></ab>
    </back>
  <% end %>
</text>