
<h1><%=@entity.name%></h1>


<p>
  <%= if @entity.biography.present? then raw(@markdown.render(@entity.biography)) end %>
</p>

<p>
  <strong>Bibliography:</strong>
  <%= @entity.bibliography %>
</p>
