<div class="container">
<h1>Dashboard for  <%= @current_user.email %> </h1>
<h3>My annotated documents</h3>

<table>
  <tbody>
    <% @documents.reverse.each do |document| %>
      <tr>
        <td><%= link_to document.cwgk_id, bycwgkid_path(document.cwgk_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>My entities</h3>
<table>
  <tbody>
    <% @user.entities.each do |entity| %>
      <tr>
        <td><%= link_to entity.name, entity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>